@model Partners.ViewModels.PartnerModel

@{
    ViewBag.Title = "Act! Certified Consultants";
}

<style type="text/css">
    #sel, #apt{display:none;}
    .loc-187{display:none;}
</style>
@if (Model.CompanyData != null)
{
    <style type="text/css">
        .search {
            display: none;
        }
    </style>
}
@if (Model.CountryData == null)
{
    <style type="text/css">
        .citySearch h3{
            border-bottom:none;
        }
    </style>
}

<script type="text/javascript">
    // Get URL Parameters
    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
		results = regex.exec(location.search);
        return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }
    var cid = getParameterByName('CountryID');
    var sid = getParameterByName('StateID');
    var type = getParameterByName('AccType');
    // Submit form onchange
    $(document).ready(function () {
        $('#allCities').click(function () {
            $('.company').show();
            $('.city a').removeClass('bold');
            $('#allCities').addClass('bold');
        })
        $('#countrySelect').change(function () {
            $('#partnerSelect').submit();
        });
        $('#getCountry').val(cid);
        $('#getState').val(sid);
        // Show country selected in select box
        if (!(cid == null || cid == "")){
            //alert('The CountryID is' + cid);
            $('#countrySelect option[value=' + cid + ']').attr('selected','selected');
        }
        // Select and APT filters
        $('#filterAll').attr('href', '/partners?CountryID=' + cid + '&StateID=' + sid + '')
        $('#filterSel').attr('href', '/partners?CountryID=' + cid + '&StateID=' + sid + '&AccType=1')
        $('#filterApt').attr('href', '/partners?CountryID=' + cid + '&StateID=' + sid + '&AccType=2')
        if (type == "1") {
            $('#filterSel').addClass('bold');
        }
        else if (type == "2") {
            $('#filterApt').addClass('bold');
        }
        else {
            $('#filterAll').addClass('bold');
        }
    });
</script>

<section class="bg_blue">
    <div class="container">
        <h1 class="text-center">Act! Certified Consultants</h1>
        <p class="smalltext text-center">Partners with no physical location listed are out of state ACCs who support an active local customer base.</p>
    </div>
</section>


@if (Model.CompanyData != null)
{
    <div class="partnerContainer">
        <section class="bg_lightblue citySearch">
            <div class="container text-center">
                <h3>
                    @if (Model.CountryData != null) { 
                        foreach (var country in Model.CountryData)
                        {
                            @country.CountryName;
                        }
                    }
                    @if (Model.StateData != null)
                    {
                        foreach (var state in Model.StateData)
                        {
                            <span>&nbsp;|&nbsp;</span> <strong class="black">@state.State</strong>
                        }
                    }
                    @*<span id="sel">Select Certified Consultants</span>
                    <span id="apt">Premier Trainers</span>*@
                    <span class="newSearch"><a id="filterAll" href="">All Certified Consultants</a> | <a id="filterSel" href="">Preferred Partners</a> | <a id="filterApt" href="">Premier Trainers</a> | <a href="/search?CountryID=1">&times; New Search</a></span>
                </h3>
                @if (Model.CityData != null)
                {
                    <div class="col-4 city"><a href="#" id="allCities">All Cities</a></div>
                    foreach (var city in Model.CityData)
                    {
                        <script type="text/javascript">
    $(document).ready(function () {
        $('#cty_@city.CityID').click(function () {
            $('.city a').removeClass('bold');
            $('#cty_@city.CityID').addClass('bold');
            $('.company').hide();
            $('.@city.CityID').show();
        })
    });
                        </script>
                        <div class="col-4 city"><a href="#" id="cty_@city.CityID">@city.City</a></div>
                    }
                }
            </div>
        </section>
        <section class="partners bg_white">
            <div class="container">
                @foreach (var company in Model.CompanyData)
                {
                    <div class="row company @company.CityID">
                        <div class="col-4">
                            <h3>@company.FirstName @company.LastName</h3>
                            <ps><span class="loc-@company.CityID">@company.City, @company.Abbr<br /></span><b>Email:</b> <a href="mailto:@company.Email">@company.Email</a><br /><b>Phone:</b> @if(@company.AccPhone != null){@company.AccPhone}else{@company.Phone}<br /><b>Certified since:</b> @company.YearCertified</ps>
                        </div>
                        <div class="col-6 text-center">
                            <p><b>@company.Company</b><br /><a href=http://@company.Website target="_blank">@company.Website</a></p>
                        </div>
                        <div class="col-2">
                            <img class="partnerIcon" src="http://www.act.com/images/default-source/partner-logos/@(company.Tier).png" />
                        </div>
                    </div>
                }
            </div>
        </section>
    </div>
}