@model Partners.ViewModels.PartnerModel

@{
    ViewBag.Title = "Find a Partner";
}

<style type="text/css">
</style>
@if (Model.CompanyData != null)
    {
        <style type="text/css">
            .search{display:none;}
        </style>
    }


<script type="text/javascript">
    // Get URL Parameters
    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
		results = regex.exec(location.search);
        return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }
    var cid = getParameterByName('CountryID');
    var sid = getParameterByName('StateID');
    var sel = getParameterByName('Select');
    var apt = getParameterByName('PremierTrainer');
    // Submit form onchange
    $(document).ready(function () {
        $('#allCities').click(function () {
            $('.company').show();
        })
        $('#select').click(function () {
            $('#partnerSelect').submit();
        });
        $('#apt').click(function () {
            $('#partnerSelect').submit();
        });
        $('#countrySelect').change(function () {
            $('#partnerSelect').submit();
        });
        $('#getCountry').val(cid);
        $('#getState').val(sid);
    });
</script>

<div class="outer bg_blue">
    <div class="container">
        <h1 class="text-center">Find an Act! Certified Consultant</h1>
    </div>
</div>

<div class="outer search">
    <div class="container">
        <div class="row inner">
            <div class="col-3"></div>
            <div class="col-6">
                <form id="partnerSelect" action="/partners/" method="get">
                    <h3>Select A Country</h3>
                    <select name="CountryID" id="countrySelect">
                       <option id="getCountry"></option>
                                
                        @foreach (var country in Model.Countries)
                        {
                            <option value="@country.CountryID">@country.CountryName</option>
                        }
                    </select>
                    @if (Model.StateData != null)
                    {
                        <h3>Select A State</h3>
                        <select name="StateID" id="stateSelect">
                            <option id="getState" />
                            @foreach (var state in Model.StateData)
                            {
                                <option value="@state.StateID">@state.State</option>
                            }
                        </select>
                    }
                    <h3>Select the type(s) of ACC you&rsquo;re looking for</h3>
                        <div><input id="select" type="checkbox" name="All" value="1" /> <label>All Certified Consultants</label></div>
                        <div><input type="checkbox" name="Select" value="1" /> <label>Select Certified Consultants</label></div>
                        <div><input type="checkbox" name="PremierTrainer" value="1" /> <label>Premier Trainers (U.S. Only)</label></div>

                    <input type="submit" class="btnBlue" value="Search" />
</form>
            </div>

            <div class="col-3"></div>
        </div>
    </div>
</div>

@if (Model.CompanyData != null)
{
    <div class="partnerContainer">
        <div class="outer bg_lightblue citySearch">
            <div class="container inner text-center">
                <h3>
                    @foreach (var country in Model.CountryData)
                    {
                        @country.CountryName;
                    }
                    &nbsp;|&nbsp; 
                    @foreach (var state in Model.StateData)
                    {
                        @state.State;
                    }
                    <a class="newSearch" href="/partners?CountryID=1">&times; New Search</a>
                </h3>
                <div class="col-4 city"><a href="#" id="allCities">All Cities</a></div>
                @foreach (var city in Model.CityData)
                {
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('#@city.City').click(function () {
                                $('.company').hide();
                                $('.@city.City').show();
                            })
                        });
                    </script>
                    <div class="col-4 city"><a href="#" id="@city.City">@city.City</a></div>
                }
            </div>
        </div>
        <div class="outer partners">
            <div class="container inner">
                @foreach (var company in Model.CompanyData)
                {
                    <div class="row company @company.City">
                        <div class="col-3">
                            <h3>@company.FirstName @company.LastName</h3>
                            <p>@company.City, @company.Abbr<br /><b>Email:</b> <a href="mailto:@company.Email">@company.Email</a><br /><b>Phone:</b> @company.Phone<br /><b>Certified since:</b> @company.YearCertified</p>
                        </div>
                        <div class="col-6 text-center">
                            <p><b>@company.Company</b><br /><a href=http://@company.Website target="_blank">@company.Website</a></p>
                        </div>
                        <div class="col-3">
                            <img src="http://www.act.com/images/default-source/partner-logos/diamondsm.png" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
